body {
  font-family: Arial;
  margin: 0;
}

header {
  display: flex;
  justify-content: space-between;
  background: teal;
  color: white;
  padding: 10px;
}

nav {
  display: none;
  flex-direction: column;
}

nav a {
  color: white;
  text-decoration: none;
  margin: 5px;
}

.burger {
  cursor: pointer;
}

section {
  display: none;
  padding: 20px;
}

.active {
  display: block;
}

/* МОДАЛ */
.modal {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
}

.modal-content {
  background: white;
  margin: 10% auto;
  padding: 20px;
  width: 300px;
}

/* DARK MODE */
.dark {
  background: black;
  color: white;
}
